.button {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: rgb(202, 202, 202);
  font-size: 0.7em;
  font-weight: 560;
  padding: 10px 10px 10px 0;
  margin-right: 15px;
}
